body {
    margin: 0;
}

header {
    background: rgb(61, 141, 188);
    color: white;
    padding: 1rem;
    text-align: center;
    width: auto;
}

#Dados {
    background-color: rgb(159, 216, 248);
    margin: 2px auto;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
    text-align: center;
}

#botao button {
    width: 150px;
    font: inherit;
    color: black;
    background-color: rgb(167, 195, 36);
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}